<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./parts/nav') %>
    <!-- Main content goes here -->
     <% locals.folders.forEach(folder => { %>
      <div>
        <h2><%= folder.folderName %></h2>
        <p>Created at: <%= folder.createdAt %></p>
        <a href="/folder/<%= folder.id %>">details</a>
      </div>
    <% }) %>
     <% locals.files.forEach(file => { %>
      <div>
        <h2><%= file.fileName %></h2>
        <p>Created at: <%= file.createdAt %></p>
        <a href="<%= file.path %>">details</a>
      </div>
    <% }) %>
</body>
</html>