<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../parts/nav') %>
    <h1><%= locals.folder.folderName %> </h1>
    <p>Created at: <%= locals.folder.createdAt %></p>
    <h2>Files in this folder:</h2>  
    <ul>
        <% locals.files.forEach(file => { %>
             <div>
                <h2><%= file.fileName %></h2>
                <p>Created at: <%= file.createdAt %></p>
                <a href="<%= file.path %>">details</a>
            </div>
        <% }) %>
  
</body>
</html>